*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* set contenitore */
.contenuto{
    height: 100vh;
    position: relative;
}

.set_rosso{
    background-color: red;
}

.set_verde{
    background-color: green;
}

.set_giallo{
    background-color: yellow;
}

/* sezione immagine */
.image_block{
    
    width:35%;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50% , -50%);

}

.set_img{
    width: 100%;
}

main{
    position: relative;
}

/* sezione link */
.link_block{
    position: fixed;
    right:0;
    top:0;
    height: 15%;
    width:35%;
    margin-top: 35px;
    padding-left: 260px;
    z-index: 2;
    
    
}

.link_block> a{
    text-decoration: none;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    border:1px solid black;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom:15px;
    margin-right: 16px;
    }


/* set carattere */
.image_block>h2{
    font-family:'Rubik Mono One', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

.set_giallo>.image_block>h2{
    color:red;
}

.set_rosso,.set_verde>.image_block>h2{
    color: yellow;
}

