*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.contenuto{
    height: 100vh;
    position: relative;
}

.set_rosso{
    background-color: red;

    
}

.set_verde{
    background-color: green;
}

.set_giallo{
    background-color: yellow;
}

.image_block{
    width: 35%;
   
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50% , -50%);

}

.set_img{
    width: 100%;
}

.image_block>h2{
    font-family:'Rubik Mono One', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

.set_giallo>.image_block>h2{
    color:red;
}

.set_rosso,.set_verde>.image_block>h2{
    color: yellow;
}